@charset "UTF-8";
header {
    background-color: #CFBF93;
    width: 768px;
    height: 300px;
    background-image: url(header.svg);
    background-repeat: no-repeat;
}
aside {
    background-color: #5BAF93;
    height: 3413px;
    width: 150px;
    float: left;
    background-image: url(url);
}
body {
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: cover;
    float: none;
    clear: none;
}
#container {
	margin: auto;
	width: 768px;
	height: auto;
	background-color:white;
	
}
h3 {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}
img {
    float: right;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
h1 {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-family: "fino", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
}
p {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
main {
    background-color: #FFFFFF;
    width: 618px;
    height: auto;
    float: left;
}
footer {
    background-color: #B0CE9E;
    height: 50px;
    width: 768px;
    float: none;
    clear: both;
    margin: auto;
}
article {
}
.floatleft{ 
	float: left;
}
nav {
    width: 759px;
    height: 52px;
    margin-top: 13px;
    font-size: 0px;
}
#container nav li {
    display: block;
    list-style-type: none;
    float: left;
    width: 40px;
    margin-right: 35px;
    font-size: 18px;
    padding-left: 0px;
    padding-right: 0px;
    font-weight: bold;
    font-style: italic;
}
user_message {
    width: 200px;
    height: 100px;
}
#container nav ul {
    margin: auto;
    width: 235px;
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
}
.submit_btm {
    width: 170px;
    height: 30px;
    border-radius: 10px;
    background-color: #9F8169;
    color: #FFFFFF;
    font-size: 16px;
    margin-left: 0px;
}

.submit_btm:hover {
    -webkit-box-shadow: inset 6px 6px 35px 1px #450F07;
    box-shadow: inset 6px 6px 35px 1px #450F07;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: #1B332B;
}
a:hover {
    text-decoration: none;
    color: #FFFFFF;
	background-color: #9F806A;
	padding: 10px;
	border-radius: 20px;
}
a:active {
    text-decoration: none;
    color: #387D66;
}
a {
    font-size: 18px;
    color: #5BAF93;
}
